@import '_animation'\n${{name}}: -anim-{{name}}\n.#{${{name}}}\n\t-webkit-animation: #{${{name}}}-keyframes #{${{name}}-duration} linear both\n\t-webkit-animation-play-state: paused\n\t-moz-animation: #{${{name}}}-keyframes #{${{name}}-duration} linear both\n\t-moz-animation-play-state: paused\n\t-o-animation: #{${{name}}}-keyframes #{${{name}}-duration} linear both\n\t-o-animation-play-state: paused\n\tanimation: #{${{name}}}-keyframes #{${{name}}-duration} linear both\n\tanimation-play-state: paused\n\n\n\t&._anim-start_\n\t\t-webkit-animation-play-state: running\n\t\t-moz-animation-play-state: running\n\t\t-o-animation-play-state: running\n\t\tanimation-play-state: running\n\t\tanimation-iteration-count: infinite\n\t\t-webkit-animation-iteration-count: infinite\n\t\t-moz-animation-iteration-count: infinite\n\t\t-o-animation-iteration-count: infinite
