${{name}}: -{{name}}
\n
\n@import 'params'
\n@import 'imports'
\n
\n@mixin {{name}}( $index )
\n\t// All here
\n
\n@if type-of( $themes ) == list
\n	
\n\t@each $theme in $themes
\n
\n\t\t$index: index( $themes, $theme )
\n
\n\t\t// With each theme do
\n\t\t@if $dependent == null
\n\t\t\t.#{${{name}}}.#{$theme}
\n\t\t@else
\n\t\t\t%#{${{name}}}.#{$theme}
\n
\n\t\t\t// and here
\n\t\t\t@include {{name}}( $index )
\n@else
\n\t@if type-of( $themes ) == string
\n\t\t@if $dependent == null
\n\t\t\t.#{${{name}}}.#{$themes}
\n\t\t\t\t@include {{name}}( 1 )
\n\t\t@else
\n\t\t\t%#{${{name}}}.#{$themes}
\n\t\t\t\t@include {{name}}( 1 )