${{name}}: -{{name}}
\n
\n@import 'imports'
\n@import 'params'
\n@import 'vars'
\n@import 'myvars'
\n
\n@mixin {{name}}( $index )
\n\t// All here
\n
\n
\n$themes: null !default
\n
\n@if $themes
\n\t@if type-of( $themes ) == list
\n\t	
\n\t\t@each $theme in $themes
\n\t
\n\t\t\t$index: index( $themes, $theme )
\n\t
\n\t\t\t// With each theme do
\n\t\t\t@if $dependent == null
\n\t\t\t\t@if $theme != 'default'
\n\t\t\t\t\t.#{${{name}}}.#{$theme}
\n\t\t\t\t\t\t@include {{name}}( $index )
\n\t\t\t\t@else
\n\t\t\t\t\t.#{${{name}}}
\n\t\t\t\t\t\t@include {{name}}( $index )
\n\t\t\t@else
\n\t\t\t\t%#{${{name}}}.#{$theme}
\n\t\t\t\t\t@include {{name}}( $index )
\n
\n\t@else
\n\t\t@if type-of( $themes ) == string
\n\t\t\t@if $dependent == null
\n\t\t\t\t@if $theme != 'default'
\n\t\t\t\t\t.#{${{name}}}.#{$theme}
\n\t\t\t\t\t\t@include {{name}}( $index )
\n\t\t\t\t@else
\n\t\t\t\t\t.#{${{name}}}
\n\t\t\t\t\t\t@include {{name}}( $index )
\n\t\t\t@else
\n\t\t\t\t%#{${{name}}}.#{$theme}
\n\t\t\t\t\t@include {{name}}( $index )
