@mixin {{name}}( $theme-index )\n\t//\n\t//color: nth( $theme-text, $theme-index )\n\t//background-color: nth( $theme-background, $theme-index )\n\t//\n\t//Using of nth( $theme-text, $index ) is nessesary for applying all included themes